<link href="../../stylesheets/style.css" rel="stylesheet" />
<link href="../../stylesheets/navbar.css" rel="stylesheet" />
<section>
  <%- include('../partials/head.ejs') %>


  <table class="table" id="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Size</th>
        <th scope="col">Image</th>
        <th scope="col">Options</th>
      </tr>
     
    </thead>
    <tbody>   
<% for(i=0; i<locals.memesList.memes.length; i++) { %>
  
      <tr>
        
        <th scope="row" id= "memes">
          <%= locals.memesList.memes[i].id %>
        </th>
        <td id="size">
          <!-- Size from json Object -->
          <%= locals.memesList.memes[i].width %> x <%= locals.memesList.memes[i].height %>
        </td>
        <td id="image">

           <img src= "<%= locals.memesList.memes[i].url %>" width="<%=locals.memesList.memes[i].width * 0.2%>" height="<%locals.memesList.memes[i].height * 0.2%>"/>
           <form action="/meme" method="post"></form>
           <button type="button">
           <a class="nav-link" href="/meme">Details </a>
          </button>
           </form>
           <script>
            document.querySelector("a[href='meme']").addEventListener("click", function() { console.log("xxx")})
           </script>

         
        </td>
        <td id="options">
          <%= locals.memesList.memes[i].name %>
          
        </td>
      </tr>
      <% } %>
    </tbody>
  
  </table>
</section>
