<link href="../../stylesheets/style.css" rel="stylesheet" />
<link href="../../stylesheets/navbar.css" rel="stylesheet" />
<section>
  <%- include('../partials/head.ejs') %>


  <table class="table" id="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Size</th>
        <th scope="col">Image</th>
        <th scope="col">Options</th>
      </tr>
     
    </thead>
    <tbody>   
<% for(i=0; i<locals.memesList.memes.length; i++) {
  const meme = locals.memesList.memes[i] %>
  
      <tr>
        
        <th scope="row" id= "memes">
          <%= meme.id %>
        </th>
        <td id="size">
          <!-- Size from json Object -->
          <%= meme.width %> x <%= meme.height %>
        </td>
        <td id="image">

           <img src= "<%= meme.url %>" width="<%=meme.width * 0.2%>" height="<% meme.height * 0.2%>"/>
          
           <button id="moreDetails" type="button" onclick="openDetails()">Details using JS</button>
         
         
           <button type="button">
           <a class="nav-link" href='/meme/<%= meme.id %>'>Details </a>
          </button>

           
           
           <script>
            function openDetails() {
              window.open('/meme')
                         }
           </script>

         
        </td>
        <td id="options">
          <%= locals.memesList.memes[i].name %>
          
        </td>
      </tr>
      <% } %>
    </tbody>
  
  </table>
</section>
